body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;

    box-sizing: content-box;

    margin: 0 auto;
}

.banner {
    display: flex;
    justify-content: center;
    background-image: url('../images/banner.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 1080px;
}

header {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 280px;
    display: flex;
}


.header_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    background-color: #0058bf;
    padding: 0 30px 0 30px;
}

.header_top_links {
    display: flex;
    align-items: center;
}

.header_top_accessibility{
    display: flex;
    align-items: center;
}

.header_top .divider {
    background-color: white;
    width: 3px;
    height: 3px;
    margin: 0 10px 0 10px;
}

.header_top a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    margin-right: 0 10px 0;
}

.header_top span{
    background-color: #00418e;
    margin-left: 5px;
    padding: 5px;
    color: white;
    border-radius: 10px;
    font-size: 12px;
}

.header_middle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 160px;
    padding: 0 50px 0 50px;
    flex-wrap: wrap;
}

.header_middle_links{
    display: flex;
}

.header_middle_links img {
    width: 40px;
    margin-bottom: 10px;
}

.header_middle_links p {
    color: #5294e3;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 4px;
}

.header_middle_links a {
    text-decoration: none;
}

.header_middle_links_phone{
    text-align: center;
    margin: 0 10px 0 10px;
}

.header_middle_links_stats{
    text-align: center;
    margin: 0 10px 0 10px;
}

.header_middle_links_info{
    text-align: center;
    margin: 0 10px 0 10px;
}

.header_middle_links_info p {
    color: #e9c157;
}

.header_logo img{
    width: 350px;
}

.header_bottom{
    display: flex;
    justify-content: space-between;
    background-color: #e2f1f9;
    height: 75px;
    padding: 0 50px 0 50px;
}

.header_menu{
    display: flex;
    align-items: center;
}

.header_menu nav ul {
    display: flex;
    flex-wrap: wrap;
}

.header_menu a {
    color: #1572b5;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    margin-right: 30px;
}

.header_search{
    display: flex;
    align-items: center;
}

.header_search img {
    width: 20px;
    margin-left: 10px;
    position: relative;
    left: -40px;
}

.banner_text{
    color: white;
    display: flex;
    justify-content: flex-end;
}

.banner_text_content h1{
    font-size: 60px;
    width: 400px;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 30px;
}

.banner_text_content p{
    font-weight: 600;
    font-size: 18px;
    margin-top: 20px;
    line-height: 25px;
}

.banner_text_divider{
    background-color: white;
    width: 80px;
    height: 4px;
}

#services_section{
    display: flex;
    height: auto;
    background-color: #143357;
    justify-content: center;
    padding-bottom: 50px;
}

.services_content{
    position: relative;
    top: -50px;
    display: flex;
    flex-direction: row;
    color: white;
    flex-wrap: wrap;
}

.services_content p{
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 5px;
}

.services_content h1{
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
}

.services_content a{
    text-decoration: none;
    color: white;
}

.services_content ul li {
	list-style: none;
	background-image: url("../icons/right-arrow.svg");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 10px;
    padding-left: 20px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 14px;
}

.citizen_services{
    background-color: #f8a674;
    flex: 1;
    border-radius: 8px 0 0 8px;
    box-sizing: border-box;
    padding: 40px;
}

.company_services{
    background-color: #ed8171;
    
    flex: 1;

    box-sizing: border-box;
    padding: 40px;
}

.server_services{
    background-color: #ce5d5f;
    flex: 1;
    border-radius: 0 8px 8px 0;

    box-sizing: border-box;
    padding: 40px;
}

.quick_access_text{
    color: white;
    margin-bottom: 40px;
    font-weight: 700;
}

.quick_access_text h1{
    font-size: 30px;
    margin-bottom: 10px;
}

.quick_access_text .divider{
    width: 35px;
    height: 4px;
    background-color: #fb7a67;
    margin-right: 10px;
}

.quick_access_title {
    display: flex;
    align-items: center;
}

.quick_access_menu{
    display: flex;
    height: auto;
    background-color: white;
    position: relative;
    right: calc((100vw - 1080px));
    width: calc((100vw - 1080px) + 1080px);

    border-radius: 0 50px 0 0;
}

.quick_access_items{
    display: flex;
    height: 100%;
    background-color: white;
    width: 1080px;
    position: relative;
    left: calc((100vw - 1080px));;
    align-items: center;
    box-sizing: border-box;
    padding: 15px 0 15px 0;
    justify-content: center;
    border-radius: 0 50px 0 0;
    flex-wrap: wrap;
}

.quick_access_item{
    height: 116px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quick_access_item img{
    width: 70px;
    margin-bottom: 30px;
}

.quick_access_item p{
    color: #143256;
}

.quick_access_items a {
    text-decoration: none;
    margin: 0;
}

.vertical_divider{
    background-color: #d9e5f6;
    height: 116px;
    width: 1px;
    margin: 10px 30px 10px 0;
}

#latest_news{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    background-color: #f2f7fa;
}

.latest_news_text{
    color: #133d6e;
    width: 100%s;
    margin-bottom: 40px;
    font-weight: 700;
    margin: 50px 0 50px 0;
}

.latest_news_text .divider{
    width: 35px;
    height: 4px;
    background-color: #fb7a67;
    margin-right: 10px;
}

.latest_news_title {
    display: flex;
    align-items: center;
}

.latest_news_text h1{
    font-size: 30px;
    margin-bottom: 10px;
}

.latest_news_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: white;
}

.latest_news_item {
    display: flex;
    flex-direction: column;
    width: auto;
    max-width: 250px;
    border-radius: 5px 5px 0 0;
    box-shadow: 1px 4px 2px -2px rgba(0, 0, 0, 0.2);
}

.latest_news_item img {
    border-radius: 5px 5px 0 0px;
    display: block;
}

.latest_news_item_date{
    display: flex;
    box-sizing: border-box;
    padding: 10px;
    color: white;
    background-color: #fb7a67;
    justify-content: center;
    text-transform: uppercase;
    font-size: 12px;
}

.latest_news_item_content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
}

.latest_news_item_content p {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    line-height: 25px;
    color: #133d6e;
}

#know_our_city{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 50px;
    background-color: #e2f0f9;
}

.know_our_city_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.know_our_city_card{
    display: flex;
    max-width: 400px;
    flex-direction: column;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
}

.know_our_city_card_body h1{
    color: #133d6e;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
}

.know_our_city_card_body a{
    text-decoration: none;
    font-weight: 500;
    color: #133d6e;
}

.know_our_city_card_body ul li {
	list-style: none;
	background-image: url("../icons/right-arrow-2.svg");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 10px;
    padding-left: 20px;
    margin-bottom: 15px;
    font-size: 14px;
}

.know_our_city_card_body{
    padding: 20px;
}

.know_our_city_card_footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 120px;
    background-color: #fb7a67;
    border-radius: 10px;
    padding: 15px;
}

.know_our_city_card_footer .vertical_divider{
    height: 80px;
}

.know_our_city_card_footer .title{
    max-width: 30%;
    color: white;
    text-transform: uppercase;
    margin: 10px;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
}

.know_our_city_card_footer .address {
    display: flex;
    flex-direction: column;
}

.know_our_city_card_footer .address h1{
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 10px;
}

.know_our_city_card_footer .address p{
    color: white;
    margin: 10px 0 10px 0;
    font-size: 10px;
}
.know_our_city_image img{
    max-width: 500px;
}

#footer{
    display: flex;
    justify-content: center;
    background-color: #133d6e;
    padding: 50px 0 0 0;
}

.footer_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer_content h2{
    color: #fb7a67;
    font-size: 18px;
    font-weight: bold;
}

.footer_content p{
    color: white;
    font-weight: 500;
}

.footer_info{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    flex: 1;
}

.footer_info p{
    font-size: 18px;
    margin-top: 15px;
}

.footer_links{
    display: flex;
    flex: 2;
}

.footer_links p{
    font-size: 14px;
    line-height: 20px;
}

.footer_links div{
    margin: 0 40px 40px 0;
}

.footer_links .divider{
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
}

.footer_links .divider_big{
    background-color: #fb7a67;
    height: 2px;
    width: 30px;
    margin-right: 10px;
}

.footer_links .divider_small{
    background-color: #fb7a67;
    height: 2px;
    width: 10px;
    margin-right: 10px;
}

.footer_footer{
    display: flex;
    justify-content: space-between;
    color: #9bb8db;
    padding-top: 20px;
    border-top: 1px solid #9bb8db;
    margin-top: 50px;
    font-size: 10px;
    margin-bottom: 20px;
}

.footer_footer_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer_footer img{
    width: 100px;
    margin-left: 10px;
}

.mobile_menu_button{
    display: none;
    align-items: center;
}

.mobile_menu_title{
    color: white;
    text-transform: uppercase;
    margin-left: 10px;
}

.mobile_menu_lines{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40px;
    height: 40px;
}

.mobile_menu_lines .line{
    height: 3px;
    background-color: white;
}

.mobile_menu ul{
    position: absolute;
    background-color: #ce5d5f;
    left: 0;
    width: 100%;
    height: auto;
    display: none;
}

.mobile_menu li{
    display: flex;
    align-items: center;
    height: 30px;
    padding: 15px;
}

.mobile_menu li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.mobile_menu li:hover{
    background-color: #f8a674;
}

@media (max-width: 1080px){

    .container{
        width: 100%;
        padding: 0 20px 0 20px;
    }

    .banner .container{
        padding: 0;
    }
    
    .quick_access_items{
        width: auto;
        position: inherit;
    }

    .quick_access_menu{
        width: auto;
        position: inherit;
    }
}

@media (max-width: 716px){
    .header_bottom{
        display: none;
    }

    .mobile_menu_button{
        display: flex;
    }

    .mobile_menu ul{
        display: none;
    }

    .header_top_links,
    .header_top_accessibility{
        display: none;
    }
}



@media (max-width: 790px){
    

    .header_middle{
        justify-content: center;
        padding: 20px;
    }
}

@media (max-width: 830px){

    .citizen_services{
        border-radius: 8px 0 0 0;
    }

    .company_services{
        border-radius: 0 8px 0 0;
    }

    .server_services{
        border-radius: 0 0 8px 8px;
    }
}
  
@media (max-width: 557px){

    .citizen_services{
        border-radius: 8px 8px 0 0;
    }

    .company_services{
        border-radius: 0;
    }

    .server_services{
        border-radius: 0 0 8px 8px;
    }
}

@media (max-width: 1040px){

    .latest_news_item{
        max-width: 300px;
    }

    .latest_news_content{
        padding: 20px;
    }
}

@media (max-width: 680px){

    .latest_news_item{
        max-width: 250px;
    }

    .latest_news_content{
        padding: 20px;
    }
}

@media (max-width: 580px){

    .latest_news_item{
        max-width: 500px;
    }

    .latest_news_content{
        padding: 20px;
    }
}

@media (max-width: 968px){

    .know_our_city_image img{
        max-width: 400px;
    }
}

@media (max-width: 872px){

    .know_our_city_image img{
        max-width: 300px;
    }
}

@media (max-width: 768px){

    .know_our_city_content{
        flex-wrap: wrap;
        justify-content: center;
    }

    .know_our_city_image img{
        max-width: 100%;
    }

    .know_our_city_card{
        max-width: 100%;
        margin-bottom: 30px;
    }

}

@media (max-width: 790px){

    .footer_content{
        flex-direction: column;
    }

    .footer_info{
        margin-bottom: 20px;
    }

    .footer_links{
        flex-wrap: wrap;
    }

}










